{% extends 'layout.html' %}

{% block content %}

<h3>Edit Candidate</h3>

<form method="POST"
enctype="multipart/form-data">

<div class="mb-3">

<label>Name</label>

<input
type="text"
name="name"
value="{{ candidate.name }}"
class="form-control">

</div>

<div class="mb-3">

<label>Manifesto</label>

<textarea
name="manifesto"
class="form-control"
rows="5">

{{ candidate.manifesto }}

</textarea>

</div>

<div class="mb-3">

<label>Position</label>

<select
name="position"
class="form-control">

{% for p in positions %}

<option
value="{{ p.id }}"
{% if p.id ==
candidate.position_id %}
selected
{% endif %}
>

{{ p.name }}

</option>

{% endfor %}

</select>

</div>

<div class="mb-3">

<input
type="file"
name="image"
class="form-control">

</div>

<button class="btn btn-dark">
Update
</button>

</form>

{% endblock %}